html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #000;
  color: #fff;
  font-family: 'Squada One', cursive;
  font-size: 36pt;
  overflow: hidden;
  font-weight: normal;
  font-style: normal;
}

section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  vertical-align: middle;
  text-align: center;
}

section h1, section h2 {
  font-weight: normal;
  white-space: nowrap;
}

.vertical-center-container {
  display: table;
  width: 100%;
  height: 100%;
}

.vertical-center-item {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

section.transition-hack {
  -webkit-transition: 2s opacity, 2s visibility;
     -moz-transition: 2s opacity, 2s visibility;
      -ms-transition: 2s opacity, 2s visibility;
       -o-transition: 2s opacity, 2s visibility;
          transition: 2s opacity, 2s visibility;
}

.loading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-transition: 2s opacity, 2s visibility;
     -moz-transition: 2s opacity, 2s visibility;
      -ms-transition: 2s opacity, 2s visibility;
       -o-transition: 2s opacity, 2s visibility;
          transition: 2s opacity, 2s visibility;
}

.loading-screen.off {
  opacity: 0;
  visibility: hidden;  
}

hr {
  width: 0;
  background-color: #fff;
  height: 3px;
  border: 0;
  -webkit-transition: .5s width;
     -moz-transition: .5s width;
      -ms-transition: .5s width;
       -o-transition: .5s width;
          transition: .5s width;
}

section.on {
  visibility: visible;
  opacity: 1;
}

section img {
  width: 100%;
}

.fadeable {
  -webkit-transition: 1s opacity, 1s visibility;
     -moz-transition: 1s opacity, 1s visibility;
      -ms-transition: 1s opacity, 1s visibility;
       -o-transition: 1s opacity, 1s visibility;
          transition: 1s opacity, 1s visibility;
  opacity: 0;
  visibility: hidden;
}

.fadeable.on {
  opacity: 1;
  visibility: visible;  
}

.parallax {
  position: absolute;
}

@-webkit-keyframes mothership-animation {
  0%   { background-position: 0 0; }
  100% { background-position: -1624px 0; }
}
@-moz-keyframes mothership-animation {
  0%   { background-position: 0 0; }
  100% { background-position: -1624px 0; }
}
@-o-keyframes mothership-animation {
  0%   { background-position: 0 0; }
  100% { background-position: -1624px 0; }
}
@keyframes mothership-animation {
  0%   { background-position: 0 0; }
  100% { background-position: -1624px 0; }
}

.mothership {
  width: 812px;
  height: 589px;
  background-image: url('../images/intro/1/pirateMotherShip.png');
  background-position: 0 0;
  background-size: 1624px 589px;
  right: 100px;
  top: -90px;
  -webkit-animation: mothership-animation .1s steps(2, start) infinite;
  -moz-animation:    mothership-animation .1s steps(2, start) infinite;
  -o-animation:      mothership-animation .1s steps(2, start) infinite;
  animation:         mothership-animation .1s steps(2, start) infinite;
}