.Entity {
  position: absolute;
  top: 0;
  left: 0;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

#bg1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../images/bg/layer1.png');
}

#bg2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../images/bg/layer2.png');
}

#bg3 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../images/bg/layer3.png');
}

#player {
}

.Level {
  position: absolute;
  width: 100%;
  height: 100%;
}

#background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -99;
}

#hud {
  position: fixed;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  z-index: 100;
  visibility: hidden;
}

#hud.on {
  visibility: visible;
}

.hud-element .front {
  position: absolute;
  z-index: 2;
}

.hud-element .back {
  position: absolute;
  z-index: 1;
}

.hud-element {
  position: absolute;
  opacity: 0.8;
}

.hud-element.thruster,
.hud-element.thruster {
  width: 100px;
  height: 400px;
}

.hud-element.thruster .front,
.hud-element.thruster .back {
  bottom: 0;
  width: 100px;
  height: 400px;
}

.hud-element.thruster div {
  width: 100%;
  height: 100%;
  background-position: 0 100%;
}

.hud-element.thruster .front {
  background-image: url('../images/hud/boosterBarSmallFull.png');
  -webkit-transition: 0.1s height;
     -moz-transition: 0.1s height;
      -ms-transition: 0.1s height;
       -o-transition: 0.1s height;
          transition: 0.1s height;
}

.hud-element.thruster .back {
  background-image: url('../images/hud/boosterBarSmallEmpty.png');
}

.hud-element.thruster.left {
  left: 0;
  bottom: 0;
}

.hud-element.thruster.right {
  right: 0;
  bottom: 0;
}

.hud-element.thruster .button {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 1px solid #080;
  border-radius: 10px;
  top: 20px;
}

.hud-element.thruster .button.on {
  background-color: rgba(0, 100, 0, 0.5);
}

.hud-element.thruster.left .button {
  left: 110px;
}

.hud-element.thruster.left .button:nth-child(2) {
  top: 80px;
}

.hud-element.thruster.right .button {
  right: 110px;
}

.hud-element.thruster.right .button:nth-child(2) {
  top: 80px;
}

.hud-element.weapon-1 {
  width: 20%;
  height: 15%;
  right: 55%;
}

.hud-element.weapon-2 {
  width: 20%;
  height: 15%;
  left: 55%;
}

.hud-element.power {
  width: 10%;
  height: 15%;
  left: 0;
  top: 0;
}

.hud-element.shield {
  width: 10%;
  height: 25%;
  right: 0;
  top: 0;
}

.hud-element.console {
  width: 40%;
  height: 15%;
  bottom: 10%;
  right: 50%;
  margin-right: -20%;
  overflow: hidden;
}

.hud-element.console > textarea {
  width: 100%;
  height: 100%;
  border: 0;
  background: transparent;
  color: #bbb;
  overflow: hidden;
  font-family: courier;
}
